
main {
    background-image: url('Screenshot 2023-11-17 at 03.31.58.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
    line-height: normal;
    font-family: 'Lora', serif;
    font-weight: bold;
    text-align: center;
    background-color: #ccc;
    color: #484946;
    word-spacing: normal;
    letter-spacing: .1rem;
    font-style: normal;
    text-decoration: none;
    margin: 0;
    padding: 10px;
}


footer {
    background-image: url('listia_palma_rastenie_197018_3840x2160.jpg');
    background-position: center;
    font-size: 30px;
    line-height: 120%;
    font-family: 'Lora', serif;
    font-weight: normal;
    text-align: center;
    color: #eae4e4;
    word-spacing: normal;
    letter-spacing: normal;
    font-style: italic;
    text-decoration: none;
    margin-top: 300px;
    padding: 10px 10px 10px 10px;
}


.accordion {
    font-size: 20px;
    line-height: normal;
    font-family: 'Lora', serif;
    font-weight: 900;
    background-color: #ffffff;
    color: #444;
    cursor: pointer;
    word-spacing: normal;
    letter-spacing: normal;
    font-style: normal;
    text-decoration: none;
    padding: 18px;
    width: 20%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}


.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    font-family: 'Lora', serif;
    padding: 0 18px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 15%;
}

.socials{
    width: 20%;
    margin-right: 1vw;
}


.flex{
    display: flex;
    flex-direction: column;
}


.panel .phoneNumber {
    color: #444;
    text-decoration: none;
    font-weight: 600;
}

.panel .phoneNumber:active {
    color: #a81f1f;
}

.panel .phoneNumber:hover {
    color: #a81f1f;
}