main {
    background-image: url('Screenshot 2023-11-17 at 03.31.58.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}


body {
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 50px;
    font-family: 'Georgia, serif', sans-serif;
    text-align: center;
    background-color: #ccc;
    color: #484946;
    margin: 0;
    padding: 10px;
}


footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    background-image: url('listia_palma_rastenie_197018_3840x2160.jpg');
    background-position: center;
    color: #eae4e4;
    font-size: 30px;
    text-align: center;
    font-family: 'Georgia, serif', sans-serif;
    margin-top: 300px;
}


@media screen and (max-width: 380px) {
    .work-schedule {
        display: none;
    }
}

.work-schedule {
    width: 100%;
    border-collapse: collapse;
}

.work-schedule caption {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
}

.work-schedule th, .work-schedule td {
    border: 1px solid #eae4e4;
    padding: 10px;
    text-align: center;
}



.accordion {
    font-family: 'Georgia, serif', sans-serif;
    font-size: 20px;
    background-color: transparent;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 20%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    box-sizing: border-box;
}


@media (max-width: 1040px) {
    .accordion {
        width: 35%;
    }
}
@media (max-width: 700px) {
    .accordion {
        width: 40%;
    }
}
@media (max-width: 495px) {
    .accordion {
        width: 50%;
    }
}


.active, .accordion:hover {
    background-color: #ccc;
}


.panel {
    font-family: 'Georgia, serif', sans-serif;
    padding: 0 18px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 15vw;

}


.socials{
    width: 3.5vw;
    margin-right: 1vw;
    min-width: 30px;
}


@media (max-width: 825px) {
    .socials {
        width: 3.5vw;
        max-width: 100%;
        display: block;
        margin-bottom: 1vw;
    }
}

.flex{
    display: flex;
    flex-direction: column;
}


.panel .phoneNumber {
    color: black;
    text-decoration: none;
}


.panel .phoneNumber:active {
    color: #a81f1f;
}


.panel .phoneNumber:hover {
    color: #a81f1f;
}


.day {
    background-color: rgba(0, 0, 0, 0.5);
    color: #eae4e4;
}